/* Header.module.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #007bff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.header div {
    font-size: 24px;
}

.header button {
    padding: 10px 15px;
    background-color: #082442;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header button:hover {
    background-color: #0056b3;
}


